<div class="menuButtonContainer buttonCustomers" [routerLinkActive]="'buttonCustomersActive'" [routerLink]="['poolControl']" skipLocationChange (click)="changeContent('subCustomer')">
    <div class="menuButtonColoredLine lineCustomers"></div>
    <div class="menuIcon"><i class="fas fasome fa-water"></i></div>
    <div class="menuButton">
        <p class="menuButtonDescription">Poolsteuerung</p>
    </div>
</div>
<div class="menuButtonContainer buttonWeather" [routerLinkActive]="'buttonWeatherActive'" [routerLink]="['weatherForecast']" skipLocationChange>
    <div class="menuButtonColoredLine lineWeather"></div>
    <div class="menuIcon"><i class="fasome far fa-sun"></i></div>
    <div class="menuButton">
        <p class="menuButtonDescription">Wetter</p>
    </div>
</div>

<!-- <div class="menuButtonContainer buttonSettings" [routerLinkActive]="'buttonSettingsActive'" [routerLink]="['settings']" skipLocationChange (click)="changeContent('subSettings')">
    <div class="menuButtonColoredLine lineSettings"></div>
    <div class="menuIcon"><i class="fas fasome fa-wrench"></i></div>
    <div class="menuButton">
        <p class="menuButtonDescription">Verwaltung</p>
    </div>
</div>
<div class="submenu" *ngIf="subSettings">
    <div class="submenuItem firstSubmenuItem" [routerLink]="['settings/general']" skipLocationChange>
        <div class="submenuIcon">
            <i class="fas fa-thermometer-three-quarters"></i>
        </div>
        <div class="submenuIconDescription">
            Temperatursensoren
        </div>
    </div>
    <div class="submenuItem" [routerLink]="['settings/email']" skipLocationChange>
        <div class="submenuIcon">
            <i class="fas fa-tint"></i>
        </div>
        <div class="submenuIconDescription">
            Pumpe
        </div>
    </div>
    <div class="submenuItem" [routerLink]="['settings/inventory']" skipLocationChange>
        <div class="submenuIcon">
            <i class="far fa-sun"></i>
        </div>
        <div class="submenuIconDescription">
            Solarsteuerung
        </div>
    </div>
</div> -->
<img class="poolarinoLogo" src="../../../../../assets/logos/poolarino_logo.png" width="10%">
<p class="poolarinoText">Poolarino Poolsteuerung © 2020</p>
<p class="poolarinoVersion">V. 1.0.0</p>
<p class="clock">{{ time | date:'HH:mm:ss' }} Uhr</p>