<div class="dynamicHeader">
    <app-header-customers *ngIf="router.url === '/software/customers'"></app-header-customers>
    <app-header-poolcontrol *ngIf="router.url === '/software/poolControl'"></app-header-poolcontrol>
    <app-header-customers-details *ngIf="isCustomerDetails"></app-header-customers-details>
    <app-header-inventory *ngIf="router.url === '/software/inventory'"></app-header-inventory>
    <app-header-settings *ngIf="router.url === '/software/settings'"></app-header-settings>
</div>
<div class="staticHeader">
    <div class="userButton centerText">
        <div class="clickableIcon">
            <i class="fas fa-2x fa-user-cog"></i>
        </div>
        <div class="iconDescription">
            <span>Einstellungen</span>
        </div>
    </div>
    <div class="helpButton centerText">
        <div class="clickableIcon">
            <i class="fas fa-2x fa-briefcase-medical"></i>
        </div>
        <div class="iconDescription">
            <span>Hilfe</span>
        </div>
    </div>
    <div class="logoutButton centerText" (click)="logout()">
        <div class="clickableIcon">
            <i class="fas fa-2x fa-door-closed"></i>
        </div>
        <div class="iconDescription">
            <span>Abmelden</span>
        </div>
        
    </div>
</div>
