.dynamicHeader{
    color: rgba(43, 43, 43, 0.85);
    height: 100%;
    width: 85%;
    box-sizing: border-box;
    border-right: 2px solid lightgray;
    float: left;
}

.staticHeader{
    color: rgba(43, 43, 43, 0.85);
    height: 100%;
    width: 15%;
    box-sizing: border-box;
    float: right;
}

.centerText{
    text-align: center;
}

.clickableIcon{
    margin-top: 8%;
}

.iconDescription{
    margin-top: 2%;
    font-size: 8pt;
}

.userButton:hover{
    border-bottom: 5px solid rgba(59, 59, 59, 0.79);
    cursor: pointer;
}

.helpButton:hover{
    border-bottom: 5px solid rgba(10, 59, 107, 1);
    cursor: pointer;
}

.logoutButton:hover{
    border-bottom: 5px solid rgba(186, 28, 28, 1);
    cursor: pointer;
}

.userButton, .helpButton, .logoutButton{
    box-sizing: border-box;
    width: 33%;
    height: 100%;
    float: left;
}

