<div class="wholePage">
    <div class="login-page">
        <div class="form">
            <img src="../../../assets/logos/logo_ohne_schriftzug.png" width="100%">
            <p *ngIf="this.showMessage" [ngClass]="(this.messageColor=='red')?'redText':'greenText'">{{ this.message }}</p>
            <form class="register-form" *ngIf="!showLogin">
                <input type="text" [(ngModel)]="name" name="name" placeholder="Dein Name (Vorname Nachname)"/>
                <input type="text" [(ngModel)]="username" name="username" placeholder="Benutzername"/>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Passwort"/>
                <input type="text" [(ngModel)]="email" name="email" placeholder="E-Mail-Adresse"/>
                <input type="checkbox" style="text-align: left" [(ngModel)]="privacyPolicy" name="privacyPolicy"> Datenschutzerklärung zugestimmt
                <button (click)="sendRegistration()">Registrierung absenden</button>
                <p class="message">Schon registriert? <span (click)="toggleForm()" class="makeLink">Zurück zum Login</span></p>
            </form>
            <form class="login-form" *ngIf="showLogin">
                <input type="text" [(ngModel)]="username" name="username" placeholder="Benutzername"/>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Passwort"/>
                <button (click)="sendLogin()">login</button>
                <p class="message">Noch nicht registriert? <span (click)="toggleForm()" class="makeLink">Jetzt kostenlos anmelden!</span></p>
            </form>
        </div>
    </div>
</div>
