<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
<div class="switches">
    <div class="leftSwitches">
        <div class="leftSwitch" (click)="toggleDevice('0')">
            <div class="topStatusBar">

            </div>
            <div class="buttonArea">
                <div class="buttonIcon">
                    <i class="fas sizeCorrection fa-power-off"></i>
                </div>
                <div class="buttonDescription">
                    <span class="buttonDescriptionText">Poolpumpe</span>
                </div>
                <div class="buttonRuntimeAndPowerConsumption">
                    <div class="buttonRuntimeRuntime">
                        {{ relayZeroRuntime ? relayZeroRuntime + ' Minuten' : '0 Minuten' }}
                    </div>
                    <div class="buttonRuntimePower">
                        {{ relayZeroWatt ? relayZeroWatt + ' Watt' : '0 Watt' }}
                    </div>
                </div>
            </div>
            <div class="bottomStatusBar" [ngClass]="{'greenBackground' : relayZeroIsOn,'redBackground' : !relayZeroIsOn }">

            </div>
        </div>
        <div class="leftSwitch" style="margin-top: 3%;" (click)="toggleDevice('1')">
            <div class="topStatusBar">

            </div>
            <div class="buttonArea">
                <div class="buttonIcon">
                    <i class="fas sizeCorrection fa-power-off"></i>
                </div>
                <div class="buttonDescription">
                    <span class="buttonDescriptionText">Musik</span>
                </div>
                <div class="buttonRuntimeAndPowerConsumption">
                    <div class="buttonRuntimeRuntime">
                        {{ relayOneRuntime ? relayOneRuntime + ' Minuten' : '0 Minuten' }}
                    </div>
                    <div class="buttonRuntimePower">
                        {{ relayOneWatt ? relayOneWatt + ' Watt' : '0 Watt' }}
                    </div>
                </div>
            </div>
            <div class="bottomStatusBar" [ngClass]="{'greenBackground' : relayOneIsOn,'redBackground' : !relayOneIsOn }">

            </div>
        </div>
    </div>
    <div class="rightSwitches">
        <div class="rightSwitch" (click)="toggleDevice('3')">
            <div class="topStatusBar">

            </div>
            <div class="buttonArea">
                <div class="buttonIcon">
                    <i class="fas sizeCorrection fa-power-off"></i>
                </div>
                <div class="buttonDescription">
                    <span class="buttonDescriptionText">Beleuchtung</span>
                </div>
                <div class="buttonRuntimeAndPowerConsumption">
                    <div class="buttonRuntimeRuntime">
                        {{ relayThreeRuntime ? relayThreeRuntime + ' Minuten' : '0 Minuten' }}
                    </div>
                    <div class="buttonRuntimePower">
                        {{ relayThreeWatt ? relayThreeWatt + ' Watt' : '0 Watt' }}
                    </div>
                </div>
            </div>
            <div class="bottomStatusBar" [ngClass]="{'greenBackground' : relayThreeIsOn,'redBackground' : !relayThreeIsOn }">

            </div>
        </div>
        <div class="rightSwitch" style="margin-top: 3%;" (click)="setSolar()">
            <div class="topStatusBar">
                <mat-progress-bar [hidden]="!solarJustChanged" mode="indeterminate"></mat-progress-bar>
            </div>
            <div class="buttonArea">
                <div class="buttonIcon">
                    <i class="fas sizeCorrection fa-power-off" [ngClass]="{'disableButton' : solarJustChanged,'' : !solarJustChanged }"></i>
                </div>
                <div class="buttonDescription">
                    <span class="buttonDescriptionText" [ngClass]="{'disableButton' : solarJustChanged,'' : !solarJustChanged }">Solarabsorber</span>
                </div>
                <div class="buttonRuntimeAndPowerConsumption" style="border-left: 0">
                    
                </div>
            </div>
            <div class="bottomStatusBar" [ngClass]="{'greenBackground' : solarIsOn,'redBackground' : !solarIsOn }">
            </div>
        </div>
    </div>
</div>
<div class="upperTemps">
        <hr class="hrcorrection">
        <mat-progress-bar class="loadingBar" [hidden]="!showLoaderTemps" mode="indeterminate"></mat-progress-bar>
    <!-- <div class="tempContainer">
        <div id="containerTempLufttemperatur">
            <round-progress class="roundProgress"
            [current]="tempLufttemperatur"
            [max]="50"
            [color]="colorTempLufttemperatur"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i class="fas fa fa-wind"></i></p>
        <p class="upperAliner" style="margin-left: 23%;">Lufttemperatur</p>
        <p class="upperTemperature">{{ tempLufttemperatur ? tempLufttemperatur + '°C' : '' }}</p>
    </div> -->
    <div class="tempContainer">
        <div id="containerTempSolaranlage">
            <round-progress class="roundProgress"
            [current]="tempSolaranlage"
            [max]="50"
            [color]="colorTempSolaranlage"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i class="fas fa-solar-panel"></i></p>
        <p class="upperAliner" style="margin-left: 28%;">Solaranlage</p>
        <p class="upperTemperature">{{ tempSolaranlage ? tempSolaranlage + '°C' : '' }}</p>
    </div>
    <div class="tempContainer">
        <div id="containerTempGartenhuette">
            <round-progress class="roundProgress"
            [current]="tempGartenhuette"
            [max]="50"
            [color]="colorTempGartenhuette"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i class="fas fa fa-home"></i></p>
        <p class="upperAliner" style="margin-left: 27%;">Gartenhütte</p>
        <p class="upperTemperature">{{ tempGartenhuette ? tempGartenhuette + '°C' : '' }}</p>
    </div>
    <div class="tempContainer">
        <div id="containerTempRaspiGehaeuse">
            <round-progress class="roundProgress"
            [current]="tempRaspberryGehaeuse"
            [max]="50"
            [color]="colorTempRaspberryGehaeuse"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i class="fab fa-raspberry-pi"></i></p>
        <p class="upperAliner" style="margin-left: 23%;">Raspi Gehäuse</p>
        <p class="upperTemperature">{{ tempRaspberryGehaeuse ? tempRaspberryGehaeuse + '°C' : '' }}</p>
    </div>
</div>
<hr>
<div class="middleTemps">
    <div class="tempContainer">
        <div id="containerTempSwitchGehaeuse">
            <round-progress class="roundProgressMiddle"
            [current]="tempSwitchgehaeuse"
            [max]="50"
            [color]="colorTempSwitchGehaeuse"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i class="fas fa-network-wired"></i></p>
        <p class="upperAliner" style="margin-left: 36%;">Switch</p>
        <p class="upperTemperature">{{ tempSwitchgehaeuse ? tempSwitchgehaeuse + '°C' : '' }}</p>
    </div>
    <div class="tempContainer">
        <div id="containerTempHifiGehaeuse">
            <round-progress class="roundProgressMiddle"
            [current]="tempHifiGehaeuse"
            [max]="50"
            [color]="colorTempHifiGehaeuse"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i class="fas fa-music"></i></p>
        <p class="upperAliner" style="margin-left: 20%;">Verstärker / Alexa</p>
        <p class="upperTemperature">{{ tempHifiGehaeuse ? tempHifiGehaeuse + '°C' : '' }}</p>
    </div>
    <div class="tempContainer">
        <div id="containerTempSkimmer">
            <round-progress class="roundProgressMiddle"
            [current]="tempSkimmer"
            [max]="50"
            [color]="colorTempSkimmer"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="tempIcon"><i class="fas fa-swimming-pool"></i></p>
        <p class="upperAliner" style="margin-left: 31%;">Skimmer</p>
        <p class="upperTemperature">{{ tempSkimmer ? tempSkimmer + '°C' : '' }}</p>
    </div>
</div>
<hr>
<div class="bottomTemps">
    <div class="bottomTempContainer" [hidden]="!solarIsOn">
        <p class="bottomTemperatureIcon"><i class="fas fa-thermometer-full"></i></p>
        <p class="bottomTemperature">Erwärmtes Wasser: <b>{{ tempWarmesWasser ? tempWarmesWasser + '°C' : '' }}</b></p>
    </div>
    <div class="bottomTempContainer">
        <p class="bottomTemperatureIcon"><i class="fas fa-wind"></i></p>
        <p class="bottomTemperature">Lufttemperatur: <b>{{ tempLufttemperatur ? tempLufttemperatur + '°C' : '' }}</b></p>
    </div>
    <div class="bottomTempContainer" [hidden]="!solarIsOn">
        <p class="bottomTemperatureIcon"><i class="fas fa-thermometer"></i></p>
        <p class="bottomTemperature">Solargewinn: <b>{{ tempHelper ? tempHelper + '°C' : '' }}</b></p>
    </div>
</div>
    <!-- <div class="tempContainer">
        <div id="containerTempSolaranlage">
            <round-progress class="roundProgressBottom"
            [current]="tempSolaranlage"
            [max]="50"
            [color]="colorTempSolaranlage"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="upperAliner" style="margin-left: 28%;">Solaranlage</p>
        <p class="upperTemperature">{{ tempSolaranlage ? tempSolaranlage + '°C' : '' }}</p>
    </div> -->
    <!-- <div class="tempContainer">
        <div id="containerTempErwaermtesWasser">
            <round-progress class="roundProgressBottom"
            [current]="tempWarmesWasser"
            [max]="50"
            [color]="colorTempWarmesWasser"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="upperAliner" style="margin-left: 19%;">Erwärmtes Wasser</p>
        <p class="upperTemperature">{{ tempWarmesWasser ? tempWarmesWasser + '°C' : '' }}</p>
    </div>
    <div class="tempContainer">
        <div id="containerTempRaspiDifferenz">
            <round-progress class="roundProgressBottom"
            [current]="tempHelper"
            [max]="10"
            [color]="colorTempDifferenz"
            [background]="'#eaeaea'"
            [radius]="125"
            [stroke]="20"
            [semicircle]="true"
            [rounded]="true"
            [clockwise]="true"
            [responsive]="false"
            [duration]="800"
            [animation]="'easeInOutQuart'"
            [animationDelay]="0"
            ></round-progress>
        </div>
        <p class="upperAliner" style="margin-left: 31%;">Differenz</p>
        <p class="upperTemperature">{{ tempHelper ? tempHelper + '°C' : '' }}</p>
    </div> -->
<!-- <div class="headerBox">
    <div class="logo">
        
    </div>
    <div class="time">

    </div>
</div>

<div class="controlCenter">
    <div class="controlOption">
        <div class="controlIcon">

        </div>
        <div class="controlDescription">

        </div>
    </div>
    <div class="controlOption">
        <div class="controlIcon">

        </div>
        <div class="controlDescription">

        </div>
    </div>
    <div class="controlOption" [ngClass]="{'disabled' : this.solarJustChanged,'' : !this.solarJustChanged }" (click)="setSolar()">
        <div class="controlIcon">
            <i class="fas fa-2x fa-solar-panel" [ngClass]="{'positive' : this.solarIsOn,'negative' : !this.solarIsOn }"></i>
        </div>
        <div class="controlDescription">
            Solar umschalten
        </div>
    </div>
    <div class="controlOption">
        <div class="controlIcon">

        </div>
        <div class="controlDescription">

        </div>
    </div>
</div>

<div class="temperatures">
    <div class="topTemps">
        <div class="topTempContainer">
            <div class="tempIcon">
                <i class="fas fa-2x fa-wind"></i>
            </div>
            <div class="tempDescription">
                
            </div>
        </div>
        <div class="topTempContainer">
            <div class="tempIcon">
                <i class="fas fa-2x fa-home"></i>
            </div>
            <div class="tempDescription">
                Gartenhütte: <p class="temperature">{{ tempGartenhuette ? tempGartenhuette + '°C' : '' }}</p>
            </div>
        </div>
        <div class="topTempContainer">
            <div class="tempIcon">
                <i class="fab fa-2x fa-raspberry-pi"></i>
            </div>
            <div class="tempDescription">
                Raspi Gehäuse: <p class="temperature">{{ tempRaspberryGehaeuse ? tempRaspberryGehaeuse + '°C' : '' }}</p>
            </div>  
        </div>
        <div class="topTempContainer">
            <div class="tempIcon">
                <i class="fas fa-2x fa-network-wired"></i>
            </div>
            <div class="tempDescription">
                Switchgehäuse: <p class="temperature">{{ tempSwitchgehaeuse ? tempSwitchgehaeuse + '°C' : '' }}</p>
            </div>
        </div>
    </div>
    <div class="bottomTemps">
        <div class="bottomTempContainer">
            <div class="tempIcon">
                <i class="fas fa-2x fa-swimming-pool"></i>
            </div>
            <div class="tempDescription">
                Skimmer: <p class="temperature">{{ tempSkimmer ? tempSkimmer + '°C' : '' }}</p>
            </div>
        </div>
        <div class="bottomTempContainer">
            <div class="tempIcon">
                <i class="fas fa-2x fa-solar-panel"></i>
            </div>
            <div class="tempDescription">
                Solaranlage: <p class="temperature">{{ tempSolaranlage ? tempSolaranlage + '°C' : '' }}</p>
            </div>
        </div>
        <div class="bottomTempContainer">
            <div class="tempIcon">
                <i class="fas fa-2x fa-thermometer-full"></i>
            </div>
            <div class="tempDescription">
                Erwärmtes Wasser: <p class="temperature">{{ tempWarmesWasser ? tempWarmesWasser + '°C' : ''}}</p>
            </div>
        </div>
        <div class="bottomTempContainer">
            <div class="tempIcon">
                <i class="fas fa-2x fa-thermometer"></i>
            </div>
            <div class="tempDescription">
                Differenz: <p class="temperature">{{ tempHelper ? tempHelper + '°C' : '' }}</p>
            </div>
        </div>
    </div>
</div>

<div class="shellyRelais">
    <div class="relay" (click)="toggleDevice('0')">
        <div class="relayIcon">
            <i class="fas fa-2x fa-power-off" [ngClass]="{'positive' : this.relayZeroIsOn,'negative' : !this.relayZeroIsOn }"></i>
        </div>
        <div class="relayDescription">
            Pumpe {{ relayZeroWatt }} {{ relayZeroRuntime }} Min.
        </div>
    </div>
    <div class="relay" (click)="toggleDevice('1')">
        <div class="relayIcon">
            <i class="fas fa-2x fa-power-off" [ngClass]="{'positive' : this.relayOneIsOn,'negative' : !this.relayOneIsOn }"></i>
        </div>
        <div class="relayDescription">
            Musik {{ relayOneWatt }}
        </div>
    </div>
        <div class="relay">
        <div class="relayIcon">
            <i class="fas fa-2x fa-power-off" [ngClass]="{'positive' : this.relayTwoIsOn,'negative' : !this.relayTwoIsOn }"></i>
        </div>
        <div class="relayDescription">
            WLAN {{ relayTwoWatt }}
        </div>
    </div>
    <div class="relay" (click)="toggleDevice('3')">
        <div class="relayIcon">
            <i class="fas fa-2x fa-power-off" [ngClass]="{'positive' : this.relayThreeIsOn,'negative' : !this.relayThreeIsOn }"></i>
        </div>
        <div class="relayDescription">
            Scheinwerfer {{ relayThreeWatt }} {{ relayThreeRuntime }} Min.
        </div>
    </div>
</div>
<br> -->

<div class="chartContainer displayNone">
    Chart:<br>
    <div [chart]="stock" style="height: 400px; min-width: 310px"></div>
</div>



